<div>
  <%= image_tag product.image.tiny %>
  <h4>Product Name: <%= product.name %></h4>
  <p>Product Description: <%= product.description %></p>
</div>
<div>
  <p> Quantity: <%= quantity %></p>
  <p> Total Cost: <%= humanized_money_with_symbol product.price * quantity %></p>
</div>